.card {
  float: left;
  border: 1px dashed #999;
  width: 360px;
  height: 320px;
  page-break-inside: avoid;
}

.art {
  float: left;
  width: 180px;
  height: 180px;
  object-fit: contain;
  object-position: center top;
}

.qrcode {
  float: left;
  width: 180px;
  height: 180px;
}

.labels {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6px;
  width: 160px;
}

p {
  color: black;
  font-family: "Helvetica";
  font-size: 9pt;
  width: 100%;
  margin: 10px 0 0 0;
  text-align: center;
}

.song {
  margin-top: 12px;
  font-weight: bold;
  font-size: 11pt;
}

.artist {
}

.album {
}

.small {
  color: #999;
  font-size: 7pt;
}
